page-place-detail-page {
    .slidescenter{
        height: 100vh; 
        top: 0; 
        background: #444a4a9e;
         position: absolute;
          z-index: 11;
    }
    .scroll-content {
        overflow-y: auto;
        background: #fff;
        
    }
    .background{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(243, 237, 237, 0.57);
        z-index: 2;
        cursor: pointer;
    }
    .slidescenter{
        top: 0%;
    position: absolute;
    }
    ion-icon {
        background: transparent !important;
    }
    .subscribeButton {
        top: -180px !important;
        right: 15px !important;
        left: 290px;
        left:65%;
        position: relative;
        z-index: 999;
    }
    .messengerButton {
        top: -55px !important;
        right: 15px !important;
        // left: 320px;
        left:80%;
        position: relative;
        z-index: 111;
    }
    .ratingLocationContainer {
        top: -100px !important;
        right: 15px !important;
        left: 10px;
        position: relative;
        z-index: 111;
    }
    .title-text {
        font-weight: 100;
        font: inherit;
        color: #000;
        font-size: 10px;
    }
    ion-img {
        background: transparent !important;
    }
    .text-bold {
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        color: black;
        background-color: transparent;
    }
    .distanceunit {
        margin-top: 0px;
        margin-left: 10px;
        color: #fff;
        font-size: 13px;
    }
    .offersReward {
        margin-top: 0px;
        margin-left: 10px;
        color: #fff;
        font-size: 13px;
    }
    .imagebutton {
        width: 35px;
        height: 35px;
        padding: 0px;
        margin: 10px 35px;
    }
    .restName {
        width: 50%;
        font-size: 15px;
        font-weight: 500;
        margin-top: 0px;
        margin-left: 0px;
        color: #fff;
    }
    .tagName {
        height: 20px;
        border-radius: 2px;
        background: blueviolet;
        margin-bottom: 15px;
        .tag {
            padding: 2px 10px 2px 15px;
        }
    }
    .leftdiv {
        width: 65%;
        margin-top: -145px;
    }
    .tab-card {
        padding: 0px 8px !important;
        width: 100%;
        margin: 0px !important;
        box-shadow: none;
    }
    .tabcontainer {
        &:active {
            border-bottom: 4px solid black;
        }
    }
    .tabcontainerActive {
        border-bottom: 4px solid black;
    }
    .mediaMenuTab {
        padding: 20px;
        font-size: 20px;
        color: black;
    }
    .descriptionBox {
        top: -100px;
        position: relative;
    }
    .descriptionText {
        color: #000 !important;
        margin-top: 5px !important;
        line-height: 23px;
        font-size: 15px;
        padding: 5px 10px 15px 10px;
        font-weight: 100; // font: inherit
    }
    ion-slides {
        height: auto;
        .img-container {
            height: 200px;
            /* padding: 5px; */
            background: #fff;
            img-loader {
                background-size: cover !important;
            }
            
        }
        .image-container .after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            color: #FFF;
        }
        .img-container:hover .after {
            display: block;
            background: rgba(0, 0, 0, .6);
        }

        .swiper-pagination-bullet-active {
            background: color($colors, light);
        }
    }
    ion-avatar {
        margin: 0 12px 0 0 !important;
        img {
            background: color($colors, dark);
        }
    }
    .rating {
        margin: 0;
        padding: 0;
        li {
            padding: 5px 0 !important;
            background: none;
            color: color($colors, primary, base);
        }
    }
    .card-container {
        position: relative;
        background-color: transparent !important;
        background: transparent;
    }
    .card {
        &.card-top {
            margin: 0 !important;
            width: 100%;
            background: #fff;
            .card-content {
                padding: 12px !important;
            }
        }
        .card-header {
            font-size: 1.5em !important;
            padding-bottom: 8px;
        }
    }
    .row {
        .icon {
            font-size: 48px;
        }
    }
    .row-info {
        border-bottom: 1px solid #d8d8d8;
        margin: 8px 0;
    }
    .reviewSection {
        position: relative;
        top: -100px;
        background-color: #fff;
        border-top: 1px solid #ececec;
        padding: 20px;
    }
    .reviewIcon {
        background-color: #fff !important;
        font-size: 22px !important;
        opacity: 0.6;
    }
    .gallery-grid-view {
        text-align: center;
        margin: 10px 0;
    }
    
    .gallery-grid-view ul li {
        display: inline-block;
        margin: 0 1px 2px 3px;
    }
    
    .gallery-grid-view ul li a > span.image {
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: 50% 25%;
        -webkit-transition-property: width, height;
        -webkit-transition-duration: 500ms;
        display: block;
        position: relative;
        margin: 0 auto;
        background-image: url(../img/no_image.png);
    }
    
    .gallery-grid-view ul li a > span.image p {
        display: block !important;
        position: absolute;
        bottom: -10px;
        right: 0px;
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;
    }
    .divider-row {
        padding: 0 10px;
        color: #333;
    }
    .add-photo-btn img {
        vertical-align: middle;
        width: 25px;
    }
    .dummy{
            max-width: 100%;
            border: 0;
            height: 55px
    }
    .rating.color-positive .star-container .star svg {
        fill: #efd702 !important;
    }
    .shareclass{
        -webkit-mask-image: none !important;
    }
    .btnk{
        background-color: #5e71d0 !important;
        margin: 35% !important;
        color: white !important;
    }
    
        

}