<ion-header>
  <ion-navbar color="primary">
    <ion-title class='title-text'>{{ place?.title }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onShare()">
        <ion-icon name="md-share" class="shareclass"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >

 

  <ion-card class="tab-card" color="primary">
    <ion-card-content>

      <ion-row>
        <ion-col col-3 text-center class="tabcontainer" [ngClass]="{'tabcontainerActive': tabClickedIndex === 1}"
          tapabble (click)="tabclicked(1)">
          <p class="tab-bold" ion-text>Info</p>
        </ion-col>

        <ion-col col-3 text-center tapabble class="tabcontainer" [ngClass]="{'tabcontainerActive': tabClickedIndex === 2}"
          (click)="tabclicked(2)">
          <p class="tab-bold" ion-text>Media</p>
        </ion-col>

        <ion-col col-3 text-center tapabble class="tabcontainer" [ngClass]="{'tabcontainerActive': tabClickedIndex === 3}"
          (click)="tabclicked(3)">
          <p class="tab-bold" ion-text>Menu</p>
        </ion-col>

        <ion-col col-3 text-center tapabble class="tabcontainer" [ngClass]="{'tabcontainerActive': tabClickedIndex === 4}"
          (click)="tabclicked(4)">
          <p class="tab-bold" ion-text>Social</p>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <div *ngIf="tabClickedIndex === 4">
    
    <div class="social-feed-container">

    </div>

  </div>


  <div *ngIf="tabClickedIndex === 3">
    
    <button class="btnk" ion-button round (click)="open()"> PDf </button>

  </div>

  <div *ngIf="tabClickedIndex === 2" [class.background]="openSlide" (tap)="off()">
    <div class="row divider-row">
      <div class="col divider-item">
        Gallery: <span class="count">({{gallery.length}} photos)</span>
      </div>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-3 *ngFor="let pic of gallery; let i = index">
          <img [src]="pic.src" (click)="onClickGallery(i)">
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--  <div class="gallery-grid-view">
      <ion-gallery ion-gallery-items="gallery" ion-gallery-row="4" ion-item-action="itemAction(item)"></ion-gallery>
    </div> -->
    <div class="col col-40 add-photo-btn text-right" style="margin-left:10px" (tap)="showPopup()">
      <span>Add photo</span>
      <!-- <img src="assets/img/icon-camera.png" /> -->
      <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
    </div>
    <div class="row divider-row">
      <div class="col divider-item">
        User Gallery: <span class="count">({{gallery.length}} photos)</span>
      </div>
    </div>
    
      <ion-grid>
        <ion-row>
          <ion-col class="col" col-3>
            <img src="assets/img/home-item-1.jpeg" class="dummy thumb-img" imageViewer/>
          </ion-col>
          <ion-col class="col" col-3>
            <img src="assets/img/1.jpg" class="dummy" imageViewer/>
          </ion-col>
          <ion-col class="col" col-3>
            <img src="assets/img/2.jpg" class="dummy" imageViewer/>
          </ion-col>
          <ion-col class="col" col-3>
            <img src="assets/img/home-item-2.jpg" class="dummy" imageViewer>
          </ion-col>
        </ion-row>
      </ion-grid>

    <div class="row divider-row">
      <div class="col col-60 divider-item">
        Video: <span class="count">(Video)</span>
      </div>
    </div>
    <iframe width="100%" style="padding:3%" height="315"  src="https://www.youtube.com/embed/MLleDRkSuvk"
      frameborder="0" allowfullscreen></iframe>

    
  </div>

  <div>

  <div *ngIf="tabClickedIndex === 1" parallax-header>


    <ion-slides >
      <ion-slide *ngFor="let image of images">
        <div class="img-container">
          <div class="overlay" style="
          height: 100%;
          background: #2829297a;
          position: absolute;
          z-index: 101;
          width: 100%;
      "></div>
     

       <div >
         
          <img-loader [src]="image?._url" style="position: absolute" class="header-image" (load)="onImageLoad($event)"></img-loader>
        </div>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="card-container">

      <div right top class="subscribeButton">
        <div (click)="onLike()">
          <img width="100" src="assets/img/detailpage-subscribe.png">
        </div>
      </div>

      <div right top class="messengerButton">
        <div (click)="onMessengerClick()">
          <img width="40" height="40" src="assets/img/detailpage-messenger.png">
        </div>
      </div>

      <div left class="ratingLocationContainer" >
        <div class="leftdiv" style="width: 100%;">
          <div style="display: inline-flex;margin-left: 5px">
            <img width="15" height="15" src="assets/icon/checked.svg">

            <p class="offersReward" ion-text color="primary">
              Offers Reward
            </p>
          </div>

          <div style="height: 50px;"></div>

          <div style="display: inline-flex;margin-left: 5px;width: 100%;">
            <p class="restName" ion-text color="primary">
              {{ place.name }}
            </p>
            <star-rating style="color:yellow" *ngIf="place.starCount > 0" [starType]="'svg'" [size]="'medium'"
              [readOnly]="true" [showHalfStars]="false" [rating]="4"> {{place.starCount}}
            </star-rating>
          </div>

          <div style="display: inline-flex;margin-left: 5px;width: 100%;">
            <div class="tagName">
              <p class="tag distanceunit" ion-text color="primary" style="margin-left:-4px">
                {{ place.category?.title }}
              </p>
            </div>
          </div>

          <div style="display: inline-flex;margin-left: 5px;">
            <!--  <img width="15" height="15" src="assets/img/detailpage-locationwhite.png"> -->
            <img width="15" height="15" src="assets/img/maps.svg">
            <p class="distanceunit" ion-text color="primary">
              {{ place.distance}} {{place.unit }}
            </p>
            <span style="margin-left: 15px;"></span>
            <img width="15" height="15" src="assets/img/detailpage-open.png">
            <p class="distanceunit" ion-text color="primary">
              {{ place.fromTime}} to {{place.toTime }}
            </p>
          </div>
        </div>
      </div>

      

      <ion-card class="shadow radius-top card-top descriptionBox" color="primary">
        <ion-card-content>

          <p class="descriptionText" margin-top ion-text color="dark">{{ place?.description }}</p>

          <ion-row>
            <ion-col col-4 text-center tapabble [class.disabled]="!place?.phone" (click)="onCall()">
              <div>
                <img class="imagebutton" src="assets/img/detailpage-call.png">
              </div>
              <p class="text-bold" ion-text>{{ 'CALL' | translate }}</p>
            </ion-col>

            <ion-col col-4 text-center tapabble (click)="goToMap()">
              <div>
                <img class="imagebutton" src="assets/img/detailpage-navigation.png">
              </div>
              <p class="text-bold" ion-text>{{ 'GETDIRECTIONS' | translate }}</p>

            </ion-col>

            <ion-col col-4 text-center tapabble [class.disabled]="!place?.website" (click)="openUberUrl()">
              <div>
                <img class="imagebutton" src="assets/img/detailpage-uber.png">
              </div>
              <p class="text-bold" ion-text>{{ 'UBER' | translate }}</p>

            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    
    </div>

    <section class="reviewSection">

      <ion-row align-items-center>
        <ion-col col-8>
          <h5 no-margin>
            <ion-icon class="text-medium reviewIcon" name="chatbubbles" color="accent"></ion-icon>
            {{ 'REVIEWS' | translate }}
          </h5>
        </ion-col>
        <ion-col col-4 text-end>
          <button class="bold" ion-button small block round color="primary" (click)="onRate()">
            {{ 'POST_REVIEW' | translate }}
          </button>
        </ion-col>
      </ion-row>

      <div *ngIf="!reviews.length" text-center>
        <p class="text-medium" color="accent">
          {{ 'EMPTY_REVIEWS' | translate }}
        </p>
      </div>

      <ion-list no-lines>
        <div margin-bottom padding class="radius light-bg border" *ngFor="let review of reviews">
          <ion-item no-padding color="light">
            <ion-avatar item-start>
              <img defaultImage="./assets/img/avatar.png" [lazyLoad]="review.user?.photo?.url()" [scrollObservable]="container.ionScroll" />
            </ion-avatar>
            <h2 class="bold no-margin">{{ review.user?.name }}</h2>
            <p class="text-small no-margin" ion-text color="accent">
              {{ review.createdAt | date:'mediumDate' }}
            </p>
            <star-rating [starType]="'svg'" [size]="'small'" [readOnly]="true" [showHalfStars]="false" [rating]="review.rating">
            </star-rating>
          </ion-item>
          <ion-row>
            <ion-col no-padding col-12>
              <p class="text-medium bold no-margin" ion-text color="dark">{{ review.comment }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-list>
      <div text-center *ngIf="reviews.length">
        <button class="bold" ion-button icon-right clear color="dark" (click)="goToReviews()">
          {{ 'VIEW_ALL_REVIEWS' | translate }}
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </div>

    </section>
  </div>

  </div>
  <!-- <div parallax-header>
 
      <div class="header-image"></div>
     
      <div class="main-content">
     
      </div>
     
    </div> -->


</ion-content>
<ion-slides [class.slidescenter]="openSlide" >

    

      

    <ion-slide *ngFor="let pic of gallery">
        <ion-buttons end style="position: absolute;top: 0;right: 0;">
            <button ion-button (click)="off()" style="background:none; box-shadow: none">
              <ion-icon name="close-circle"></ion-icon>
            </button>          
          </ion-buttons>
      <img *ngIf="openSlide" [src]="pic.src" imageViewer>
    </ion-slide>
  </ion-slides>