<ion-header no-border>
  <ion-toolbar class="transparent" color="primary">
    <ion-buttons start>
      <button ion-button clear (click)="onDismiss()">
        <span showWhen="ios,core">{{ 'CLOSE' | translate }}</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'ADD_REVIEW' | translate }}
    </ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list text-center>
    <star-rating
      space="around"
      (ratingChange)="onRatingChange($event)"
      [starType]="'svg'"
      [size]="'large'"
      [readOnly]="false"
      [showHalfStars]="false"
      [rating]="review.rating">
    </star-rating>
    <ion-item margin-bottom class="radius" color="light">
      <ion-textarea class="review-input" [(ngModel)]="review.comment" rows="8" [placeholder]="'COMMENT' | translate"></ion-textarea>
    </ion-item>
    <div padding>
      <button ion-button block round color="light" (click)="onSubmit()">
        {{ 'SUBMIT' | translate }}
      </button>
    </div>
  </ion-list>
</ion-content>
