<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="icon-home" show=true></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="QR" tabIcon="icon-QR" show=true></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Search" tabIcon="icon-search"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Message" tabIcon="icon-mail"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Map" tabIcon="icon-map"></ion-tab>
</ion-tabs>