page-home-page {

    .card-category {

        width: 110px;
        margin: 0 !important;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

        .card-image {
            height: 80px;
    
            img-loader {
                background-size: cover !important;
            }
        }
        .card-content {
            padding: 4px;
        }
    }

    ion-slides {
        height: auto;
        .swiper-slide img {
            display: block;
            width: 100%;
        }

        .swiper-pagination-bullet {
            background-color: transparent;
            border: 1px solid color($colors, light) !important;
            opacity: inherit;
            margin: 0px 2px !important;
        }
        
        .swiper-pagination-bullet-active {
            background: color($colors, light) !important;
        }
    }

    .place-row {

        .scroll-content {
            margin: 0 !important;
            padding: 0 !important;
        }

        .card {
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            width: 160px;
            margin: 0 auto;

            .image-container {
                position: relative;

                .content {
                    background: transparent;
                    position: absolute;
                    padding: 6px;
                    width: 100%;
                    bottom: 0;
                    z-index: 1;
                }

                .triangle {
                    position: absolute;
                    bottom: 0;
                    width: 0; 
                    height: 0; 
                    border-left: 145px solid transparent;
                    border-bottom: 60px solid color($colors, light); 
               }
            }

            .circle-btn {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .div-slides{    
        bottom: 0;
        width: 100%;    
        height: 160px;
        display: block;        
        background-color: none;
        img{
            width: auto;
            height: 100%;
            object-fit: contain;
        }
    }
    .tam-title{
        margin-top: -0.5%;
        font-size: 80%;
        font-weight: bold;
        color: #ff9900;
    }  



    .card-container {
        position: relative;
        background-color: transparent !important;
        background: transparent;
    }
    .subscribeButton {
        top: 20px !important;
        right: 15px !important;
        left: 290px;
        left:70%;
        position: relative;
        z-index: 999;
    }
    .messengerButton {
        top: 70% !important;
        right: 15px !important;
        // left: 320px;
        left:80%;
        position: relative;
        z-index: 111;
    }
    .ratingLocationContainer {
        top: -30px !important;
        right: 15px !important;
        left: 10px;
        position: relative;
        z-index: 111;
    }
    .restName {
        width: 120px;
        font-size: 15px;
        font-weight: 500;
        margin-top: 0px;
        margin-left: 0px;
        color: #fff;
        z-index:11;
    }
    .tagName {
        height: 20px;
        border-radius: 2px;
        background: #ed05f1;
        margin-bottom: 15px;
        .tag {
            padding: 2px 10px 2px 3px;
        }
        z-index: 11;
    }
    .distanceunit {
        margin-top: 0px;
        margin-left: 10px;
        color: #fff;
        font-size: 13px;
        z-index:11;
    }
   
    .imgback{
        
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
       
    }

    .imgback1{
        background-image: url("/assets/img/1.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
       
    }
    .imgback2{
        background-image: url("/assets/img/2.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
       
    }

    .rating.color-default .star-container .star svg,.rating.color-ok .star-container .star svg, .rating.color-positive .star-container .star svg {
        fill: #ecec01 !important;
    }
    .titlecolor
    {
        color: black !important;
    }
    
   
}