<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="icon-menu"></ion-icon>
      <!-- <ion-icon ios="ios-menu" md="md-menu"></ion-icon> -->
    </button>
    <ion-title text-center>Home</ion-title>
    <!-- <ion-buttons end> -->

    <!--       
      <button ion-button clear icon-only>
        <ion-icon name="icon-filter"></ion-icon>
      </button> -->



    <!-- <button ion-button clear icon-only (click)="navigateTo('PostListPage')">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="navigateTo('SearchPage')">
        <ion-icon name="search"></ion-icon>
      </button> -->
    <!-- </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content #container>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_NETWORK' | translate">
  </empty-view>

  <section *ngIf="isContentViewVisible">

    <!-- Top Slide List -->

    <ion-slides *ngIf="slides.length" pager autoplay="4000" style="background-color:none;">
      <ion-slide *ngFor="let slide of slides" (click)="onSlideTouched(slide)">
        <div>
          <img-loader useImg (load)="onImageLoad($event)" fallback="assets/img/placeholder-slide.png" [src]="slide.image?.url()">
          </img-loader>
        </div>
      </ion-slide>
    </ion-slides>

    <!-- kk -->
    <ion-row padding>
      <ion-col>
        <h5 text-start no-margin>
          {{ 'FEATURED' | translate }}
        </h5>
      </ion-col>
      <ion-col col-6>
        <h5 class="titlecolor" ion-text color="primary" no-margin text-end (click)="navigateTo('PlacesPage', { isFeatured: true })">
          {{ 'VIEW_ALL' | translate }}
        </h5>
      </ion-col>
    </ion-row>

    <section class="place-row" *ngIf="featuredPlaces?.length">


      <div class="div-slides" style="margin-bottom: 55px;">

        <ion-slides slidesPerView="2" spaceBetween="10">
          <ion-slide col-auto float-left *ngFor="let place of featuredPlaces">

            <ion-col col-auto float-left (click)="sectionClick(place)">

              <ion-card color="light">

                <div class="image-container">
                  <img-loader useImg (load)="onImageLoad($event)" [src]="place.imageThumb?.url()">
                  </img-loader>
                </div>

                <ion-card-content text-nowrap>
                  <p no-margin class="text-medium ellipsis bold">{{ place.title }}</p>
                  <p class="text-medium ellipsis bold" ion-text color="accent">
                    {{ place.category.title }}
                  </p>
                </ion-card-content>
              </ion-card>

            </ion-col>

            <!-- <ion-card class="full-width" no-margin color="light">

              <div class="image-container" (click)="fixsectionClick()">

                <img src="http://68.183.119.2/parse/files/myAppId/5816421286f35558608557fb6f2248df_image.jpg" />
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">PRIMI Seapoint</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  Food
                </p>
              </ion-card-content>
            </ion-card> -->
          </ion-slide>
          <!-- <ion-slide col-auto float-left>

            <ion-card class="full-width" no-margin color="light">

              <div class="image-container" (click)="fixsectionClick()">

                <img src="http://68.183.119.2/parse/files/myAppId/5816421286f35558608557fb6f2248df_image.jpg" />
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">PRIMI Seapoint</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  Food
                </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide col-auto float-left>

            <ion-card class="full-width" no-margin color="light">

              <div class="image-container" (click)="fixsectionClick()">

                <img src="http://68.183.119.2/parse/files/myAppId/5816421286f35558608557fb6f2248df_image.jpg" />
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">PRIMI Seapoint</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  Food
                </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide col-auto float-left>

            <ion-card class="full-width" no-margin color="light">

              <div class="image-container" (click)="fixsectionClick()">
                <img src="http://68.183.119.2/parse/files/myAppId/5816421286f35558608557fb6f2248df_image.jpg" />
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">PRIMI Seapoint</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  Food
                </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          <ion-slide col-auto float-left>

            <ion-card class="full-width" no-margin color="light">

              <div class="image-container" (click)="fixsectionClick()">
                <img src="http://68.183.119.2/parse/files/myAppId/5816421286f35558608557fb6f2248df_image.jpg" />
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">PRIMI Seapoint</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  Food
                </p>
              </ion-card-content>
            </ion-card>
          </ion-slide> -->

        </ion-slides>
      </div>

    </section>


    <!-- Featured Places -->

    <!-- <ion-row padding>
      <ion-col >
        <h5 text-start no-margin>
          {{ 'FEATURED' | translate }}
        </h5>
      </ion-col>
      <ion-col col-6>
        <h5 ion-text color="primary" no-margin text-end (click)="navigateTo('PlacesPage', { isFeatured: true })">
          {{ 'VIEW_ALL' | translate }}
        </h5>
      </ion-col>
    </ion-row>

    <section class="place-row" *ngIf="featuredPlaces?.length">

      <ion-scroll scrollX="true" direction="x" style="height: 250px">
        <ion-row nowrap margin-horizontal>
          <ion-col col-auto float-left *ngFor="let place of featuredPlaces" (click)="sectionClick(place)">

            <ion-card color="light">

              <div class="image-container">
                <img-loader useImg (load)="onImageLoad($event)" [src]="place.imageThumb?.url()">
                </img-loader>
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">{{ place.title }}</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  {{ place.category.title }}
                </p>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-scroll>

    </section>  -->



    <!-- Nearby Places -->
    <!--     
    <ion-row padding *ngIf="nearbyPlaces?.length">
      <ion-col col-6>
        <h5 text-start no-margin>{{ 'NEARBY' | translate }}</h5>
      </ion-col>
      <ion-col col-6>
        <h5 ion-text color="primary" no-margin text-end (click)="navigateTo('PlacesPage', { location: location })">
          {{ 'VIEW_ALL' | translate }}
        </h5>
      </ion-col>
    </ion-row>

    <section class="place-row" *ngIf="nearbyPlaces?.length">

      <ion-scroll scrollX="true" direction="x" style="height: 250px">
        <ion-row nowrap margin-horizontal>
          <ion-col col-auto float-left *ngFor="let place of nearbyPlaces" (click)="sectionClick(place)">

            <ion-card color="light">

              <div class="image-container">
                <img [src]="place.imageThumb?.url()" src-fallback="./assets/img/placeholder1.png" />
              </div>

              <ion-card-content text-nowrap>
                <p no-margin class="text-medium ellipsis bold">{{ place.title }}</p>
                <p class="text-medium ellipsis bold" ion-text color="accent">
                  {{ place.category.title }}
                </p>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-scroll>

    </section>

    <ion-row padding>
      <ion-col col-6>
        <h5 text-start no-margin>{{ 'MORE_PLACES' | translate }}</h5>
      </ion-col>
      <ion-col col-6>
        <h5 ion-text color="primary" no-margin text-end (click)="navigateTo('PlacesPage')">
          {{ 'VIEW_ALL' | translate }}
        </h5>
      </ion-col>
    </ion-row>

    <ion-row class="place-row">
      <ion-col col-6 float-left *ngFor="let place of randomPlaces" (click)="sectionClick(place, randomPlaces)">

        <ion-card class="full-width" no-margin color="light">

          <div class="image-container">
            <img defaultImage="./assets/img/placeholder1.png" [lazyLoad]="place.imageThumb?.url()" [scrollObservable]="container.ionScroll" />
          </div>

          <ion-card-content text-nowrap>
            <p no-margin class="text-medium ellipsis bold">{{ place.title }}</p>
            <p class="text-medium ellipsis bold" ion-text color="accent">
              {{ place.category.title }}
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </section>
 -->

    <!-- kk -->

    <ion-row padding>
      <ion-col col-6>
        <h5 text-start no-margin>{{ 'MORE_PLACES' | translate }}</h5>
      </ion-col>
      <ion-col col-6>
        <h5 class="titlecolor" ion-text color="primary" no-margin text-end (click)="navigateTo('PlacesPage')">
          {{ 'VIEW_ALL' | translate }}
        </h5>
      </ion-col>
    </ion-row>
    <!-- <div class="card-container" *ngFor="let place of randomPlaces" (click)="sectionClick(place, randomPlaces)" class="imgback" style="margin-bottom:20px"> -->
    <div style="margin-bottom:20px" class="card-container imgback" *ngFor="let place of randomPlaces" (click)="sectionClick(place, randomPlaces)">
      <!-- [ngStyle]="{'background-image': 'url(' + place.imageThumb?.url() + ')'}"   -->
      <div style="margin-bottom:20px" class="image-container imgback">
        <img style="height: 100%;width: 100%;" defaultImage="./assets/img/placeholder1.png" [lazyLoad]="place.imageThumb?.url()"
          [scrollObservable]="container.ionScroll" />
        <div class="overlay" style="
        height: inherit;
        background: #2829297a;
        position: absolute;
        z-index: 0;
        width: 100%;
        top:0
    "></div>
      </div>




      <div left class="" style="height: 100%;position: absolute;top: 0;">




        <div style="height: 40%;"></div>

        <div style="display: inline-flex;margin-left: 5px;width: 100%;">
          <p class="restName" ion-text color="primary">
            {{ place.title }}
          </p>
          <star-rating style="color:yellow;z-index:11;" [starType]="'svg'" [size]="'medium'" [readOnly]="true"
            [showHalfStars]="false" [rating]="place.likeCount">
          </star-rating>
        </div>
        <div class="tagName" style="display: inline-flex;margin-left: 5px">

          <p class="tag distanceunit" ion-text color="primary">
            {{place.category?.title}}
          </p>

        </div>
        <div style="display: inline-flex;margin-left: 5px;width: 100%">
          <img width="15" height="15" src="assets/img/maps.svg" style="z-index:11;">
          <p class="distanceunit" ion-text color="primary">
            5km
          </p>

        </div>
      </div>
    </div>
    <!-- <div class="card-container" class="imgback1" style="margin-bottom:20px">

      <div left class="" style="height: 100%;">

        <div style="height: 50%;"></div>

        <div style="display: inline-flex;margin-left: 5px;width: 100%;">
          <p class="restName" ion-text color="primary">
            SNS Restaurant
          </p>
          <star-rating style="color:yellow" [starType]="'svg'" [size]="'medium'" [readOnly]="true" [showHalfStars]="false"
            [rating]="5">
          </star-rating>
        </div>
        <div  class="tagName" style="display: inline-flex;margin-left: 5px">
         
            <p class="tag distanceunit" ion-text color="primary">
              BURGERS
            </p>
         
        </div>
        <div style="display: inline-flex;margin-left: 5px;width: 100%">
          <img width="15" height="15" src="assets/img/maps.svg">
          <p class="distanceunit" ion-text color="primary">
            10km
          </p>

        </div>
      </div>
    </div>

    <div class="card-container" class="imgback2" style="margin-bottom:20px">

      <div left class="" style="height: 100%;">

        <div style="height: 50%;"></div>

        <div style="display: inline-flex;margin-left: 5px;width: 100%;">
          <p class="restName" ion-text color="primary">
            Kailash Restaurant
          </p>
          <star-rating style="color:yellow" [starType]="'svg'" [size]="'medium'" [readOnly]="true" [showHalfStars]="false"
            [rating]="5">
          </star-rating>
        </div>
        <div  class="tagName" style="display: inline-flex;margin-left: 5px">
         
            <p class="tag distanceunit" ion-text color="primary">
              BURGERS
            </p>
         
        </div>
        <div style="display: inline-flex;margin-left: 5px;width: 100%">
          <img width="15" height="15" src="assets/img/maps.svg">
          <p class="distanceunit" ion-text color="primary">
            15km
          </p>

        </div>
      </div>
    </div>
 -->


    <ion-infinite-scroll (ionInfinite)="onLoadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>



  </section>

  <!-- <h1>{{title}}</h1>
  <button (click)="getHomeTimeline()">get/home_timeline</button>
  <p>{{result}}</p> -->

</ion-content>