<ion-header no-border>
  <ion-toolbar class="transparent" color="primary">
    <ion-buttons left>
      <button ion-button (click)="onDismiss()">
        <span showWhen="ios,core" style="color:white !important">{{ 'CLOSE' | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows" style="color: #efe6e6;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="color:white !important">{{ 'FORGOT_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <p ion-text color="light">{{ 'FORGOT_PASSWORD_HELP' | translate }}<p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-item class="transparent">
      <ion-label stacked color="light">{{ 'EMAIL' | translate }}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <div padding>
      <button type="submit" round ion-button block color="light">
        {{ 'SUBMIT' | translate }}
      </button>
    </div>

  </form>
</ion-content>
