page-forgot-password {
  ion-content {
    padding-top: 60px;
    /* background: linear-gradient(135deg, #333333, #333333) !important; */
    background-image: url("../assets/img/bg.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  
  .text-input {
    color: color($colors, light);
  }
  .toolbar-title-md,.toolbar-title-ios {
    font-size: 2rem;
    font-weight: 500;
    color: #eae4e4 !important;
}
.toolbar-ios-primary .toolbar-title-ios
{

}
}
