page-message {
    .searchbar-ios .searchbar-input
    {
        color: black !important;
    }
    .searchbar-ios .searchbar-search-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>") !important;
      //background-image:url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%…roke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>") !important;
      
    }
      .searchbar-input::placeholder {
          color: black !important;
          opacity: 1; /* Firefox */
        }
        
        .searchbar-input::-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: black !important;
        }
        
        .searchbar-input::-ms-input-placeholder { /* Microsoft Edge */
         color: black !important;
        }

    .myitem
    {
        background-color: white !important;
    }
    .button-outline-ios,.button-outline-md
    {
      border-width: 1px;
      border-style: solid;
      border-color: #16deb9;
      color: #16deb9;
    }
    ion-item.myitem.item.item-block.item-md,ion-item.myitem.item.item-block.item-ios,ion-item-sliding.item-wrapper{
        border-bottom: 1px solid #CCC;
    }
    .list-md .item-block .item-inner, .list-ios .item-block .item-inner{
        border:none !important;
    }
    .scroll-content{
        background-color: white !important;
      }
}
