<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>MESSAGE </ion-title>
    </ion-navbar>
    <ion-toolbar>
      <ion-searchbar mode="ios"  [placeholder]="'SEARCH'">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>

<ion-list style="background-color: white;">

      
    <ion-item class="myitem">
      <h2>12 New Messages</h2>
      <p>mark all messages as read</p>
      <button ion-button round outline item-end>OK</button>
    </ion-item>
    


<ion-item-sliding>
<ion-item class="myitem">
  <h2>Grant Marshall</h2>
  <p>subtitle</p>
  <p item-end> 6min ago</p>
  <ion-icon item-end name="ios-alert-outline" style="background:none;color: #16deb9;" ></ion-icon>
</ion-item>
<ion-item-options side="right">
  <button ion-button style="background-color:#24f724 ">
    
    Reply
  </button>
  <button ion-button style="background-color: #ff4b07">
      
      Delete
    </button>
</ion-item-options>


</ion-item-sliding>

<ion-item-sliding>
  <ion-item class="myitem">
    <h2>Pena Veldez</h2>
    <p>subtitle</p>
    <p item-end> 15min ago</p>
    <ion-icon item-end name="ios-alert-outline" style="background:none; color: #16deb9;"></ion-icon>
  </ion-item>
  <ion-item-options side="right">
      <button ion-button style="background-color:#24f724 ">
        
        Reply
      </button>
      <button ion-button style="background-color: #ff4b07">
          
          Delete
        </button>
    </ion-item-options>

</ion-item-sliding>


<ion-item-sliding>
  <ion-item class="myitem">
    <h2>Jessica miles</h2>
    <p>subtitle</p>
    <p item-end> 25min ago</p>
    <ion-icon item-end name="ios-alert-outline" style="background:none; color: #16deb9;"></ion-icon>
  </ion-item>
  <ion-item-options side="right">
      <button ion-button style="background-color:#24f724 ">
        
        Reply
      </button>
      <button ion-button style="background-color: #ff4b07">
          
          Delete
        </button>
    </ion-item-options>

</ion-item-sliding>


</ion-list>




</ion-content>
