page-edit-profile {
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  .content {
    background: $gradient-bg;
  }
  .text-input {
    //color: color($colors, light);
    color: #100202;
  }
//   page-edit-profile .text-input {
//     color: #100202;
// }
.label-ios-light, .item-input .label-ios-light,.label-md-light, .item-input .label-md-light
{
  color: #0e0404;
}
.text-ios-light,.text-md-light {
  color: #1b0808 !important;
}
.cameracolor{
  background: none
}


.item-input-has-focus .label-md[stacked],
.item-input-has-focus .label-ios[stacked],
.input-has-focus .label-md[stacked],
.input-has-focus .label-ios[stacked],
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] ,
.item-input-has-focus .label-ios[floating],
.input-has-focus .label-ios[floating]{
  color:black !important;
}
}
