page-event-details {
    ion-card{
        background-color: #ffffff !important;
        box-shadow:none !important;
        p{
            margin: 10px !important
        }
    }
    .card {
        margin:0 !important;
        margin-left: 0;margin-right: 0;width:100%;
        .img-wr {
        width: 100%;
        height: 50vw;
        overflow: hidden;
        text-align: center;
        position: relative;
        .img {
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        .date{
            position: absolute;
            top: 0;
            right: 0;
            // background-color: #313131;
            padding: 3px 10px;
            width: 32%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-icon,span {
                color: #ffffff;
            }
            ion-icon{
                font-size: 2rem;
            }
        }
        }
    .card-content {
        padding:10px;
        .card-title {
            padding: 5px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                font-weight: bold;
                text-transform: capitalize;
                display: inline-block;
                width: 45%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .time,.distance{
                display: flex;
                align-items: center;
                width: 32%;
                ion-icon {
                    font-size: 1.1em;
                    margin-right: 5px;
                }
                span {
                    font-size: 1.4rem;
                }
            }
            .distance {
                width: 16%;
            }
            .descrip {
               font-size: 1.4rem; 
            }
        }
    }
    
    .big-btns {
        .button {
            height: 6.1em;
            .button-inner {
                flex-direction: column;
                justify-content: center;
                .b-ic-wr {
                    width: 2em;
                }
                p {
                    text-transform: capitalize;
                    font-size: 1.4rem;
                    padding-top: 10px;
                }
            }
        }
    }
    }
}
