<!--
  Generated template for the EventDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>event-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <div class="img-wr">
      <div class="date">
        <ion-icon name="ios-calendar-outline"></ion-icon><span>12 Jun 2018</span>
      </div>
      <img src="assets/img/bg.png" />
    </div>

    <ion-card-content>
      <ion-card-title>
        <h3>Nine Inch Nails Live</h3>
        <div class="time">
          <ion-icon name="ios-clock-outline" style="background:white"></ion-icon><span>12:00</span>-<span>23:00</span>
        </div>
        <div class="distance">
          <ion-icon name="pin" style="background:white"></ion-icon>
          <span>15km</span>
        </div>
      </ion-card-title>
      <p class="descrip">
        City : Cape Town
      </p>
      <p class="descrip">
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>

      <p class="descrip">
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>

    <ion-row no-padding class="big-btns">
      <ion-col>
        <button ion-button clear>
          <div class="b-ic-wr">
            <img src="assets/img/call.png">
          </div>
          <p>call</p>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear>
          <div class="b-ic-wr">
            <img src="assets/img/navigation.png">
          </div>
          <p>get directions</p>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear>
          <div class="b-ic-wr">
            <img src="assets/img/uber.png">
          </div>
          <p>uber</p>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>