<!--
  Generated template for the RewardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="icon-menu"></ion-icon>
    </button>
    <ion-title>Rewards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="rewards-list">
    <ion-item *ngFor="let venue of myrewards" (tap)="toggleGroup(venue)">
      <ion-avatar item-start>
        <img [src]="venue.mprofile_pic" />
      </ion-avatar>
      <h2 class="app_text_color">{{venue.venue_name}}</h2>
      <p class="my_reward_text">Your Points Earned : <span class="value">{{venue.points_balance}}</span></p>
      <button ion-button clear item-end>
        <ion-icon name="arrow-dropup" *ngIf="!isGroupShown(venue)"></ion-icon>
        <ion-icon name="arrow-dropdown" *ngIf="isGroupShown(venue)"></ion-icon>
      </button>
    </ion-item>



    <ion-item class="item-accordion child-item" *ngIf="showdiv">
      <img *ngIf="rewards && rewards.length > 0" class="icon-img" src="assets/icon/icon-tap.png" />
      <p class="note my_reward_text" *ngIf="rewards && rewards.length > 0">Tap the desired reward box to claim your
        reward</p>
      <p class="note my_reward_text" *ngIf="rewards && rewards.length == 0">No rewards founds.</p>

      <div class="row item-grid padding_0" style="overflow-x: auto">
        <div class="col col-50" (tap)="rewardClicked(reward, shownGroup)" *ngFor="let reward of rewards">
          <div class="card" [ngStyle]="{'background-image':' url(http://wecheck.co.za/rewards/index.php/api/get_reward_image/' + reward._id + ')', 'background-size': 'cover'}">
            <div class="mask text-center">
              <p class="center" style="color: white">{{reward.title}}</p>
            </div>
          </div>
          <p class="text-center my_reward_text app_text_color">Points required : <span class="app_text_color">
              {{reward.required_points}}</span></p>
        </div>
      </div>

    </ion-item>
  </ion-list>
</ion-content>