page-rewards {
    .mask {
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
    }
    .card {
        height: 100px;
    }
    .rewards-list .child-item .icon-img {
        width: 22px;
    }
    .rewards-list .child-item p.note {
        display: inline-block;
        margin: 0;
        line-height: 20px;
    }
    .item-grid .mask p {
        padding: 40px 0;
    }
    .text-center {
        text-align: center;
    }
}
