<!--
  Generated template for the PopupimagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title>popupimage</ion-title> -->
    <ion-buttons right>
        <button ion-button (click)="closepopup()">
          <ion-icon name="close-circle"></ion-icon>
        </button>          
      </ion-buttons>
    <!-- <ion-buttons right style="background: #e8e9ec !important;">
        <button  (click)="close()">
          <ion-icon name="close-circle"></ion-icon>
        </button>          
      </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-scroll zooming="true" style="width: 100%; height: 100%; position: absolute;top:33%">
        <img [src]="popimage.src" >
      </ion-scroll>
    


  

</ion-content>
