page-popupimage {
    .toolbar-background.toolbar-background-ios,.toolbar-background.toolbar-background-md
    {
        background: #e8e9ec !important;
    }
    ion-icon.icon.icon-ios.ion-ios-close-circle
    {
        background: none !important;
    }
    ion-icon.icon.icon-md.ion-md-close-circle
    {
        background: none !important;
    }
    .content-md
    {
        background-color: #e8e9ec;
    } 
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background: none;
    }
    
}
