<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CATEGORIES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container>

  <empty-view *ngIf="isErrorViewVisible" icon="alert"
    [text]="'ERROR_NETWORK' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="bookmark"
    [text]="'EMPTY_CATEGORIES' | translate">
  </empty-view>

  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div [@staggerIn]="categories.length">
    <div class="card-img" *ngFor="let category of categories" (click)="goToPlaces(category)">
      <img-loader [src]="category.image.url()" (load)="onImageLoad($event)"></img-loader>
      <div>
        <h5 class="bold" ion-text color="light">{{ category.title }}</h5>
        <span class="gradient-bg bold" ion-text color="light" style="color: black">
          {{ category.placeCount }} {{ 'PLACES' | translate }}
        </span>
      </div>
    </div>
  </div>

</ion-content>
