page-categories {
  .content {
    background: color($colors, light);
  }
  .card-img {
    height: 200px;
    position: relative;

    img-loader {
      background-size: cover !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -9999;

      &:after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      justify-content: center;
      height: 100%;
      span {
        border-radius: 16px;
        padding: 4px 16px;
      }
    }
  }
  .bold {
    font-weight: bold !important;
    color: #f5eeee;
}
}
