page-sign-up-page {
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  ion-content {
    padding-top: 60px;
    /* background: $gradient-bg; */
    background-image: url("../assets/img/bg.jpg");
  }
  .text-input {
    color: color($colors, light);
  }
  .toolbar-title-md {
    font-size: 2rem;
    font-weight: 500;
    color: #eae4e4 !important;
}
ion-icon[class*="icon-"] {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
   background:none !important;
   color: white !important;
  width: 1em;
  height: 1em;
}
.toolbar-md-primary .bar-button-clear-md, .toolbar-md-primary .bar-button-default-md, .toolbar-md-primary .bar-button-outline-md, .toolbar-md-primary .toolbar-title-md{
  color:#fff;
}

}
