<ion-header no-border>
  <ion-toolbar class="transparent" color="primary">
    <ion-buttons left>
      <button ion-button (click)="onCancel()">
        <span showWhen="ios,core" style="color: white !important">{{ "CLOSE" | translate }}</span>
        <ion-icon name="md-close" showWhen="android,windows" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding text-center>

  <img margin class="logo" src="./assets/img/avatar.png" width="120">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-item class="transparent">
      <ion-icon [name]="isFieldValid(form.controls.name) ? 'checkmark' : 'close'" color="light"
        item-start>
      </ion-icon>
      <ion-label stacked color="light">{{ "NAME" | translate }}</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item class="transparent">
      <ion-icon [name]="isFieldValid(form.controls.username) ? 'checkmark' : 'close'" color="light"
        item-start>
      </ion-icon>
      <ion-label stacked color="light">{{ "USERNAME" | translate }}</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item class="transparent">
      <ion-icon [name]="isFieldValid(form.controls.email) ? 'checkmark' : 'close'" color="light"
        item-start>
      </ion-icon>
      <ion-label stacked color="light">{{ "EMAIL" | translate }}</ion-label>
      <ion-input type="email" formControlName="email" [placeholder]="'EMAIL_VALIDATION_HELP' | translate">
      </ion-input>
    </ion-item>

    <ion-item class="transparent">
      <ion-icon [name]="isFieldValid(form.controls.password) ? 'checkmark' : 'close'" color="light"
        item-start>
      </ion-icon>
      <ion-label stacked color="light">{{ "PASSWORD" | translate }}</ion-label>
      <ion-input type="password" formControlName="password" [placeholder]="'PASSWORD_VALIDATION_HELP' | translate">
      </ion-input>
    </ion-item>

    <ion-item class="transparent">
      <ion-icon [name]="isFieldValid(form.controls.confirmPassword) ? 'checkmark' : 'close'" color="light"
        item-start>
      </ion-icon>
      <ion-label stacked color="light">{{ "CONFIRM_PASSWORD" | translate }}</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <ion-item class="transparent">
      <ion-icon [name]="isFieldValid(form.controls.phonenumber) ? 'checkmark' : 'close'" color="light"
        item-start>
      </ion-icon>
      <ion-label stacked color="light">{{ "PhoneNumber" | translate }}</ion-label>
      <ion-input type="number" formControlName="phonenumber"></ion-input>
    </ion-item>

    

    <div padding>
      <button type="submit" color="light" ion-button block round>
        {{ "SIGNUP" | translate }}
      </button>
    </div>

  </form>
</ion-content>