page-sign-in-page {
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  ion-content {
    padding-top: 60px;
    /* background: $gradient-bg; */
  }
  .text-input {
    color: color($colors, light);
  }
  .toolbar-title-md,.toolbar-title-ios {
    font-size: 2rem;
    font-weight: 500;
    color: #eae4e4 !important;
}
ion-icon{
  background: none !important;
}
.bold{
  color:#fff;
}
.pane {
  background: url("/src/assets/img/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

// .backionimg{
//     padding-top: 60px;
//     /* background: linear-gradient(135deg, #333333, #333333) !important; */
//     background-image: url("../assets/img/bg1.jpg") !important;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

}
