page-change-password {
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  .content {
    background: $gradient-bg;
  }
  .text-input {
    color: color($colors, light);
  }
  .label-ios-light, .item-input .label-ios-light
  {
    color: #190101;
  }
}
