$primary-color: color($colors, primary, base);
$secondary-color: color($colors, secondary, base);
$gradient-bg: linear-gradient(135deg, $secondary-color, $primary-color) !important;
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/RobotoCondensed-Bold.ttf');
    font-weight: bold;
}
.item-input-has-focus .label-ios[stacked],
.input-has-focus .label-ios[stacked],
.item-input-has-focus .label-ios[floating],
.input-has-focus .label-ios[floating] {
   color: #0e0404; 
}
ion-app,
.swal-modal {
    font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif !important;
}

.item-ios .text-ios-primary,.item-ios .text-ios-light{
    color:#000 !important;
}
.item-ios-light p {
    color:#000 !important;
    
}
.item-ios-light,.item-md-light{
    background: white;
}
.searchbar-ios .searchbar-input{
    background: #afafaf !important;
    color: white !important;
}

page-sign-in-page ion-content {
    padding-top: 60px;
    /* background: linear-gradient(135deg, #333333, #333333) !important; */
    background-image: url("../assets/img/bg1.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading-md .spinner-crescent circle {
    stroke: black;
  }

.loading-wrapper{
    border: 4px solid black !important;
}

.swal-button {
    background-color: color($colors, primary);
    &:active {
        background-color: darken(color($colors, primary), 10%);
        box-shadow: none;
    }
    &:focus {
        background-color: darken(color($colors, primary), 10%);
        box-shadow: none;
    }
}

.gradient-bg {
    background: $gradient-bg;
}

.toolbar-background {
    background: $gradient-bg;
}

.bold {
    font-weight: bold !important;
    color:#333;
}

.hidden {
    visibility: hidden !important;
}

.text-small {
    font-size: 12px !important;
}

.text-medium {
    font-size: 14px !important;
}

.border {
    border: 1px solid #d8d8d8 !important;
}

.radius {
    border-radius: 8px !important;
}

.radius-top {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.radius-bottom {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.disabled {
    opacity: 0.5 !important;
}

.menu-toolbar {
    padding: 0;
}

ion-menu .content {
    background: color($colors, light);
}

.loading-wrapper {
    border: 4px solid color($colors, light);
}

.scroll {
    height: 100%;
}

.shadow {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
}

.horizontal-line {
    height: 1px;
    background-color: #ccc;
}

.link {
    text-decoration: underline;
}

.line {
    height: 1px;
    background: darken(color($colors, primary), 2%);
}

.transparent {
    background: transparent !important;
}

ion-avatar img {
    padding: 2px;
    background: color($colors, light);
}

.light-bg {
    background: color($colors, light);
}

.no-margin {
    margin: 0 !important;
}

.ellipsis {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.full-width {
    width: 100% !important;
}

img-loader {
    background-position: center center;
}

.ng-lazyloaded,
.fade-in {
    animation: fadein 1.2s;
}

.card-content {
    padding: 4px 8px !important;
}

::-webkit-input-placeholder {
    font-size: 12px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

$color-negative-rating: color($colors,
primary) !default;
$color-ok-rating: color($colors,
primary) !default;
$color-positive-rating: color($colors,
primary) !default;
$color-default-rating: color($colors,
primary) !default;
// @import 'star-rating';
.rating {
    align-items: start;
    justify-content: start;
    margin: 0;
    .star-container {
        margin: 0;
    }
}

.item-md .text-md-primary {
    color: #333333 !important;
}
.item-md .text-md-light {
    color: #333 !important;
}

.toolbar-md-light .toolbar-background-md {
    background: #FFFFFF;
}

.toolbar-background {
    background: linear-gradient(135deg, #FFFFFF, #FFFFFF) !important;
}

.toolbar-md-primary .bar-button-clear-md,
.toolbar-md-primary .bar-button-default-md,
.toolbar-md-primary .bar-button-outline-md,
.toolbar-md-primary .toolbar-title-md {
    color: #333333;
}

.text-md-primary {
    color: #333333;
}

.tabs-md .tab-button[aria-selected=true] {
    color: #333333;
}

.item-md-light,
.item-divider-md-light {
    color: #000;
    background-color: #FFFFFF;
}

ion-menu .content {
    background: #FFFFFF;
}

.content-md {
    color: #7d7d7d;
    background-color: #FFFFFF;
}
.back-button-text-ios{
    display: none !important;
}
.whitebgcontent{
    background:  white !important;
}
// icons
ion-icon {
    &[class*="icon-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
         background: #333333;
         color: black;
        width: 1em;
        height: 1em;
    }
   
    &[class*="back-button-"] {
        background: transparent;
    }
    &[class*="home"] {
        mask-image: url(../assets/icon/home.svg);
    }
    &[class*="search"] {
        mask-image: url(../assets/icon/magnifying-glass.svg);
    }
    &[class*="QR"] {
        mask-image: url(../assets/icon/qr-code.svg);
    }
    &[class*="mail"] {
        mask-image: url(../assets/icon/mail.svg);
    }
    &[class*="map"] {
        mask-image: url(../assets/icon/map.svg);
    }
    &[class*="categories"] {
        mask-image: url(../assets/icon/categories.svg);
    }
    &[class*="deals"] {
        mask-image: url(../assets/icon/deals.svg);
    }
    &[class*="events"] {
        mask-image: url(../assets/icon/events.svg);
    }
    &[class*="help"] {
        mask-image: url(../assets/icon/help.svg);
    }
    &[class*="logout"] {
        mask-image: url(../assets/icon/logout.svg);
    }
    &[class*="rewards"] {
        mask-image: url(../assets/icon/rewards.svg);
    }
    &[class*="settings"] {
        mask-image: url(../assets/icon/settings.svg);
    }
    &[class*="subscription"] {
        mask-image: url(../assets/icon/subscription.svg);
    }
    &[class*="checked"] {
        mask-image: url(../assets/icon/checked.svg);
    }
    &[class*="filter"] {
        mask-image: url(../assets/icon/filter.svg);
    }
    &[class*="like"] {
        mask-image: url(../assets/icon/like.svg);
    }
    &[class*="maps-and-flags"] {
        mask-image: url(../assets/icon/maps-and-flags.svg);
    }
    &[class*="messenger"] {
        mask-image: url(../assets/icon/messenger.svg);
    }
    &[class*="navigation"] {
        mask-image: url(../assets/icon/navigation.svg);
    }
    &[class*="phone-call"] {
        mask-image: url(../assets/icon/phone-call.svg);
    }
    &[class*="share"] {
        mask-image: url(../assets/icon/share.svg);
    }
    &[class*="uber"] {
        mask-image: url(../assets/icon/uber.svg);
    }
    &[class*="menu"] {
        mask-image: url(../assets/icon/menu.svg);
    }
    // .scroll-content ,.fixed-content
    // {
    //     background:white;
    // }
    
}

// end icons