<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'SEARCH' | translate }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" (keyup.enter)="onSearch($event)" [placeholder]="'SEARCH' | translate">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_NETWORK' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="alert" [text]="'EMPTY_DATA' | translate">
  </empty-view>

  <ion-row>
    <ion-col col-6 float-left *ngFor="let place of places" (click)="navigateTo('PlaceDetailPage', { place: place })">
      <ion-card class="shadow" color="light">

        <div class="image-container">
          <img-loader useImg (load)="onImageLoad($event)" [src]="place.imageThumb?.url()">
          </img-loader>
        </div>

        <ion-card-content no-padding padding text-nowrap>
          <p class="text-medium ellipsis bold">{{ place.title }}</p>
          <p class="text-medium ellipsis bold" ion-text color="accent">
            {{ place.category.title }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- //kk -->
<!-- 
  <ion-list style="background-color: white;">

      
          <ion-item class="myitem">
            <h2>12 New Messages</h2>
            <p>mark all messages as read</p>
            <button ion-button round outline item-end>OK</button>
          </ion-item>
          


    <ion-item-sliding>
      <ion-item class="myitem">
        <h2>Grant Marshall</h2>
        <p>subtitle</p>
        <p item-end> 6min ago</p>
        <ion-icon item-end name="ios-alert-outline" style="background:none;color: #16deb9;" ></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button style="background-color:#24f724 ">
          
          Reply
        </button>
        <button ion-button style="background-color: #ff4b07">
            
            Delete
          </button>
      </ion-item-options>
     

    </ion-item-sliding>

    <ion-item-sliding>
        <ion-item class="myitem">
          <h2>Pena Veldez</h2>
          <p>subtitle</p>
          <p item-end> 6min ago</p>
          <ion-icon item-end name="ios-alert-outline" style="background:none; color: #16deb9;"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button style="background-color:#24f724 ">
              
              Reply
            </button>
            <button ion-button style="background-color: #ff4b07">
                
                Delete
              </button>
          </ion-item-options>
  
      </ion-item-sliding>

      
    <ion-item-sliding>
        <ion-item class="myitem">
          <h2>Jessica miles</h2>
          <p>subtitle</p>
          <p item-end> 6min ago</p>
          <ion-icon item-end name="ios-alert-outline" style="background:none; color: #16deb9;"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button style="background-color:#24f724 ">
              
              Reply
            </button>
            <button ion-button style="background-color: #ff4b07">
                
                Delete
              </button>
          </ion-item-options>
  
      </ion-item-sliding>
  
  
  </ion-list> -->


</ion-content>