page-profile-page {
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  .content {
    background: $gradient-bg;
  }
  .heading {
    background: $gradient-bg;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  ion-avatar {
    img {
      display: inline-block;
      max-width: 8.6rem;
      max-height: 8.6rem;
      border-radius: 4.8rem;
    }
  }

  .item ion-avatar img {
    background: color($colors, primary);
  }

  .card {
    width: 100%;
    .card-img {
      height: 150px;
      img-loader {
        background-size: cover !important;
      }
    }
    .card-content {
      padding: 6px !important;
    }
  }
  
  ul {
    margin: 4px 0;
    padding: 0px;

    &.rating li {
      padding: 5px 0 !important;
      background: none;
      color: color($colors, primary, base);

      ion-icon {
        font-size: 16px;
      }
    }
  }
  .button-outline-ios-light
{
  color: black;
}
.text-ios-light {
  color:black;
}
.button-outline-ios-light
{
  border-color: black;
}
.username{
  color: #100f0f;
}
}
