page-qrcode {
    .alert-button {
        text-align: right;
        text-align: center;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(214, 22, 22) !important;
        /* background-color: transparent; */
    }
}

