page-settings-page {
  .content {
    background: color($colors, light);
  }
  .item-radio-checked.item-md ion-label ,.item-radio-checked.item-ios ion-label {
    color: #060505 !important;
}
.radio-md .radio-inner{
  background-color: #191515;
}
.radio-md .radio-checked{
  border-color:black;
}
.radio-checked .radio-inner{
  border-color:black !important;
}
}
